.textfield {
    -fx-border-color: BLACK !important;
    -fx-border-width: 1;
    -fx-background-color: WHITE !important;
}

.gridpane {
    -fx-background-color: lightgray;
}

.label {
    -fx-font-weight: bold;
}

.boldtext {
    -fx-font-weight: bold;
}

.radio-button {
    -fx-label-padding: 0 4 0 0;
}